<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Nunito+Sans:wght@700&family=Signika:wght@600;700&display=swap"
          rel="stylesheet">
    <style>
        body {
            font-style: normal;
            font-weight: normal;
            font-size: 1.25rem;
            line-height: 1.35;
            font-family: 'Manrope', sans-serif;
            color: #1A1D1E;
            background-color: rgba(128, 128, 128, 0.05);
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        h1, .h1 {
            font-family: 'Signika', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 3.875rem;
            line-height: 148%;
            letter-spacing: -0.602025px;
        }

        @media screen and (max-width: 767.9px) {
            h1, .h1 {
                font-size: 3rem;
            }
        }

        @media screen and (max-width: 575.9px) {
            h1, .h1 {
                font-size: 2.5rem;
            }
        }

        h2, .h2 {
            font-family: 'Signika', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 2.125rem;
            line-height: 1.2;
        }

        h4, .h4 {
            font-family: 'Signika', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 1.25;
        }

        .text-center {
            text-align: center;
        }

        a {
            color: #74AF27;
            text-decoration: none;
        }

        .mb-4 {
            margin-bottom: 24px !important;
        }

        .mt-5 {
            margin-top: 48px !important;
        }

        .content-area {
            flex: 1 1 auto;
            padding: 45px 15px 30px;
        }

        .main-logo {
            margin: auto;
            display: block;
            max-width: 100%;
        }

        .social-links {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .social-links li {
            margin: 0 10px;
        }

        .social-links li a {
            text-decoration: none;
        }

        .links-area a {
            padding: 10px;
            white-space: nowrap;
            display: inline-block;
        }

        .content-box {
            background-color: #fff;
            border-radius: 20px;
            padding: 50px 60px 45px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 6px 20px -6px rgba(0, 0, 0, 0.1);
        }

        @media screen and (max-width: 767.9px) {
            .content-box {
                padding: 20px 40px 45px;
            }
        }

        footer {
            color: #a6a6a6;
            font-size: 1rem;
            padding: 35px 0;
            border-top: 1px solid rgba(154, 176, 164, 0.38);
            background-color: #ffffff;
        }
    </style>
</head>

<body>

<div class="content-area">
    <div class="content-box">
        <svg class="main-logo" xmlns="http://www.w3.org/2000/svg" width="130" height="101" viewBox="0 0 54 42" fill="none">
            <path d="M20.1771 0.0817871H10.0867L30.2672 20.42V10.399L20.1771 0.0817871Z" fill="#74AF27"></path>
            <path d="M42.202 21.8102L31.8908 11.886L30.2673 11.8857V20.4189L42.2513 31.9544L42.202 21.8102Z"
                  fill="#951B81"></path>
            <path d="M33.6028 0L23.5123 10.3172L23.512 20.3386L43.6932 0.000376843L33.6028 0Z" fill="#4D63AB"></path>
            <path d="M23.5127 11.8857V20.3363L31.8983 11.886L23.5127 11.8857Z" fill="#806867"></path>
            <path d="M20.3271 30.5839H11.7976V32.2074L21.8014 42H31.8225L20.3271 30.5839Z" fill="#EF7F00"></path>
            <path d="M21.8004 11.886L30.267 20.4189V11.8857L21.8004 11.886Z" fill="#60154F"></path>
            <path d="M20.1811 0.0838105L10.0911 0.0834351L10.0914 0.0838105H20.1811Z" fill="#55BBE7"></path>
            <path d="M10.0915 0.0841675L0.00366211 10.3969L5.01272 15.3712L15.1363 5.16853L10.0918 0.0841675H10.0915Z"
                  fill="#55BBE7"></path>
            <path d="M31.8908 11.886L30.2673 11.8857V13.5302L31.8953 11.8898L31.8908 11.886Z" fill="#5E4163"></path>
            <path d="M23.5121 11.8861H21.8004L21.7997 11.8869L23.5121 13.6124V11.8861Z" fill="#707828"></path>
            <path d="M33.6724 30.2809L21.8726 42H31.8895L42.2022 31.9047V30.2809H33.6724Z" fill="#951B81"></path>
            <path d="M33.6716 30.2808H42.2015V21.8102L33.6716 30.2808Z" fill="#60154F"></path>
            <path d="M43.6861 0H33.6687L38.7177 5.01427L43.6898 0.00339159L43.6861 0Z" fill="#5B4091"></path>
            <path d="M30.2677 11.886L28.5541 11.8857L23.5127 11.886V13.6105L26.8497 16.9734L30.2677 13.5287V11.886Z"
                  fill="#6E2383"></path>
            <path d="M33.6687 0L33.6691 0.00037539L43.6861 0H33.6687Z" fill="#E62C32"></path>
            <path d="M38.7175 5.01424L48.9161 15.1423L53.9982 10.0952L43.6897 0.00335693L38.7175 5.01424Z"
                  fill="#E62C32"></path>
            <path d="M10.0911 0.0834351L15.1359 5.16818L20.1815 0.0834351H10.0911Z" fill="#006633"></path>
            <path d="M0 10.3932V20.4885L10.3127 30.5837H20.3293L0 10.3932Z" fill="#D4D700"></path>
            <path d="M0.00301349 10.3967L0 10.4009V20.4219L5.01207 15.3711L0.00301349 10.3967Z" fill="#4EA533"></path>
            <path d="M33.6709 30.2807H43.6879L54.0002 20.1858V10.0909L33.6709 30.2807Z" fill="#E62B37"></path>
            <path d="M48.9165 15.1424L53.9986 20.1902V10.0953L48.9165 15.1424Z" fill="#C6171E"></path>
            <path d="M11.7976 22.1204V32.1422L23.5119 20.3364V11.8861H21.8003L11.7976 22.1204Z" fill="#F29100"></path>
        </svg>
        <div class="text-center">
            <h1>
                Charity Token
            </h1>
            <p>
                {{ message }}
            </p>
        </div>

        <div class="text-center">
            <ul class="social-links mt-5 mb-4">
                <li>
                    <a href="https://www.facebook.com/CharityTokenPyLtd" target="_blank" rel="nofollow">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 20.9877 5.11957 26.7796 11.8125 27.8299V18.0469H8.25781V14H11.8125V10.9156C11.8125 7.40688 13.9027 5.46875 17.1005 5.46875C18.6318 5.46875 20.2344 5.74219 20.2344 5.74219V9.1875H18.4691C16.73 9.1875 16.1875 10.2668 16.1875 11.375V14H20.0703L19.4496 18.0469H16.1875V27.8299C22.8804 26.7796 28 20.9877 28 14Z"
                                  fill="#1877F2"/>
                            <path d="M19.4496 18.0469L20.0703 14H16.1875V11.375C16.1875 10.2679 16.73 9.1875 18.4691 9.1875H20.2344V5.74219C20.2344 5.74219 18.6323 5.46875 17.1005 5.46875C13.9027 5.46875 11.8125 7.40688 11.8125 10.9156V14H8.25781V18.0469H11.8125V27.8299C13.262 28.0567 14.738 28.0567 16.1875 27.8299V18.0469H19.4496Z"
                                  fill="white"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/CharityToken4" target="_blank" rel="nofollow">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.80544 25.3758C19.3715 25.3758 25.1507 16.6219 25.1507 9.03052C25.1507 8.78188 25.1507 8.53436 25.1339 8.28796C26.2582 7.47474 27.2287 6.46782 28 5.31436C26.9516 5.77916 25.8394 6.08384 24.7005 6.2182C25.8998 5.50033 26.7973 4.37111 27.2261 3.04076C26.0984 3.70997 24.8647 4.18155 23.5782 4.43516C22.7121 3.51416 21.5666 2.9043 20.3189 2.69995C19.0712 2.49561 17.791 2.70816 16.6763 3.30472C15.5616 3.90128 14.6746 4.84859 14.1525 6.00006C13.6305 7.15153 13.5025 8.44297 13.7883 9.67452C11.5044 9.55995 9.27005 8.96639 7.23036 7.93236C5.19068 6.89834 3.39122 5.44696 1.9488 3.67244C1.21418 4.9371 0.989184 6.4342 1.31962 7.85893C1.65005 9.28366 2.51107 10.5289 3.72736 11.3411C2.8131 11.3143 1.91876 11.0677 1.12 10.622V10.6948C1.12036 12.0212 1.57949 13.3065 2.41952 14.3329C3.25954 15.3593 4.42874 16.0636 5.7288 16.3262C4.88306 16.5569 3.99569 16.5906 3.13488 16.4248C3.50212 17.5661 4.21683 18.5642 5.17911 19.2795C6.14139 19.9948 7.30313 20.3915 8.50192 20.4142C7.31084 21.3504 5.94687 22.0426 4.48802 22.4512C3.02917 22.8598 1.50408 22.9767 0 22.7953C2.62714 24.4812 5.68391 25.3754 8.80544 25.3713"
                                  fill="#1DA1F2"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCls-aQZA39wxxcn3JEQpgug" target="_blank" rel="nofollow">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.109 17.625l7.562-3.906-7.562-3.953v7.859zM14 4.156c5.891 0 9.797.281 9.797.281.547.063 1.75.063 2.812 1.188 0 0 .859.844 1.109 2.781.297 2.266.281 4.531.281 4.531v2.125s.016 2.266-.281 4.531c-.25 1.922-1.109 2.781-1.109 2.781-1.062 1.109-2.266 1.109-2.812 1.172 0 0-3.906.297-9.797.297-7.281-.063-9.516-.281-9.516-.281-.625-.109-2.031-.078-3.094-1.188 0 0-.859-.859-1.109-2.781C-.016 17.327 0 15.062 0 15.062v-2.125s-.016-2.266.281-4.531C.531 6.469 1.39 5.625 1.39 5.625 2.452 4.5 3.656 4.5 4.202 4.437c0 0 3.906-.281 9.797-.281z"
                                  fill="#c00"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <p>
                Charity Token Pty Ltd © 2022. All Rights Reserved.<br>
                80-82 Oxley Drive, Karalee QLD 4306 Australia
            </p>
            <div class="links-area">
                <a target="_blank" href="https://charitytoken.online">Visit Us</a>
                <a href="https://www.charitytoken.online/wp-content/uploads/2022/04/PRIVACY-POLICY.pdf" target="_blank">Privacy
                    Policy</a>
                <a href="https://www.charitytoken.online/wp-content/uploads/2022/04/PRIVACY-POLICY.pdf" target="_blank">Terms
                    of Use</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>